@import 'reset';

// @font-face {
// 	font-family: "Title";
//     src: url("/fonts/font.woff2") format("woff2"),
//          url("/fonts/font.woff") format("woff");
// 	font-weight: normal;
// 	font-style: normal;
// }

@import 'variables';

html, body, #sapper {
	width: 100%;
	min-height: 100%;
}

html {
	font-size: 16px;
}
body {
	background-color: $black;
	color: $white;
}

li > a {
	display: block;
}
